<%- include layouts/header.ejs %>
        <div class="page-data">
         <div class="data-table">
            <table border="1" cellpadding="7" cellspacing="7">
                <tr>
                   <th>SIG_Involved</th>
                   <th>Talks</th>
                   <th>Workshops</th>
                   <th>Flagship_events</th>
                   <th>Date</th>
                   <th>Club_Name</th>
                </tr>

                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=data[i].SIG_Involved%></td>
                    <td><%=data[i].Talks_conducted%></td>
                    <td><%=data[i].Workshops_conducted%></td>
                    <td><%=data[i].Flagship_Events%></td>
                    <td><%=data[i].Date%></td>
                    <td><%=data[i].Club_Name%></td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="3">No user</td>
                 </tr>
            <% } %>
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
